checkpoints/
tensorboard_logs/
results/
jobs/
**/__pycache__/ 
__pycache__/
util/__pycache__/
.idea/
*.png
*.jpg
.idea
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

